@import "tailwindcss";
@import "@prisma/eclipse/styles/globals.css";

@theme {
  --animate-fade-in: fade-in 300ms ease;
  --animate-fade-out: fade-out 300ms ease forwards;
  --animate-slide-in: slide-in 300ms ease;
  --animate-slide-out: slide-out 300ms ease forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(calc(-100% - 0.5rem));
    }
  }

  @keyframes slide-out {
    to {
      transform: translateX(calc(-100% - 0.5rem));
    }
  }
}

@layer utilities {
  .font-sans-display-settings {
    font-feature-settings: var(--font-sans-display-settings);
  }

  .font-sans-settings {
    font-feature-settings: var(--font-sans-settings);
  }

  .font-mono-settings {
    font-feature-settings: var(--font-mono-settings);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.prose {

  b,
  strong {
    @apply font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  dl,
  ol,
  ul,
  li {
    @apply my-3 first:mt-0 last:mb-0 text-base text-foreground-neutral;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-6 md:mt-12 font-bold text-2xl text-foreground-neutral;

    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      @apply mt-6;
    }
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-2xs;
  }

  p,
  li {
    code {
      @apply -my-0.5 px-1.5 py-0.5 bg-background-neutral-strong rounded-square-low text-[0.875em];
    }
  }

  li {
    @apply mx-6 list-outside;
  }

  ol li {
    @apply list-decimal;
  }

  ul li {
    @apply list-disc;
  }
}